html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
}

body {
    background: linear-gradient(160deg, #272964 0%, #000115 100%);
}

#root {
    min-height: 100vh;
    position: relative;
}