html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
}

body {
    background: linear-gradient(155deg, #272964 0%, #000115 100%);
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    position: relative;
}

.article-container {
    background: linear-gradient(160deg, #22245c80 0%, #050722 100%);
}

.modal {
    background: linear-gradient(155deg, #23276b 0%, #121552 100%);
}